window {
  border-radius: 20px;
  margin: 0px;
  border: 2px solid #7A8478;
  background-color: rgba(33, 15, 55, 0.6);
  padding: 20px;
}

#input {
  margin: 5px;
  border: none;
  color: white;
  font-size: 1.1rem;
  border-radius: 20px;
}

#inner-box {
  margin: 10px;
  border: none;
}

#outer-box {
  margin: 5px;
  border: none;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 7px;
  border: none;
  color: white;
  font-size: 1.1rem;
}

#entry:selected {
  background-color: #4F1C51;
}
